
div {
    background-color: whitesmoke;

}
input {
    width: 100%;
}
.black {
    background-color: black;
    color: white;
    text-align: center;
    padding: 5px;
}
.grey {
    background-color: lightslategrey;
}
.blank {
    background-color: white;
    
}